<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>experientiarum</title>
    <meta name="description" content="{{ meta_description }}">
    <meta name="author" content="{{ meta_author}}">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    {% assets filters="cssmin", output="gen/packed.css", "css/site.css", "css/base.css", "css/skeleton.css", "css/layout.css", "css/code.css" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="image/favicon.ico">
    <link rel="apple-touch-icon" href="image/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="image/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="image/apple-touch-icon-114x114.png">

<!-- modernizr
============== -->
    <!-- All script at the bottom except for modernizr which enables HTML5 elements & feature detecting -->
    <script src="/static/js/libs/modernizr-2.0.6.min.js"></script>

</head>
<body>



    <!-- Primary Page Layout
    ================================================== -->

    <!-- Delete everything in this .container and get started on your own site! -->

    <div class="container">
    
        <!-- HEADER -->
        <div class="four columns sidebar">

            <div id="logo" class="four columns">
                <h1>LOGO</h1>
                <h2>Mark Feltner</h2>
            </div>

             
            <nav id="nav" class="four columns sidebar">
                <ul>
                    {% block sidebar %}
                    {% endblock %}
                </ul>
            </nav>
            
        </div> <!-- /header -->

        <!-- MAIN -->
        <nav id="nav" class="twelve columns">
            <ul class="tabs">
                <li><a href="/blog">blog</a></li>
                <li><a href="#">bookmarks</a></li>
                <li><a href="#">pastebin</a></li>
                <li><a href="#">readlaters</a></li>
                <li><a href="#">todo</a></li>
                <li><a href="#">about</a></li>
            </ul>
        </nav>
            
        <div id="content" class="twelve columns">

            <div id="flash_messages" class="">
                {% for message in get_flashed_messages() %}
                <div id="flash" class="">
                    {{ message }}
                </div>
                {% endfor %}
            </div>

            {% block content %}

            {% endblock %}
        
        </div> <!-- /content -->
        
        <!-- /main -->
        
        <footer id="footer" class="sixteen columns">
        <p><small>
            {% if current_user %}
                current user: {{ current_user }}
            {% endif %}
            Copyright 2012, {{ config['SITE_NAME'] }}
        </small></p>
        </footer>

    </div><!-- /container -->

    <!-- JS
    ================================================== -->
      <!--
      <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
      <script src="javascripts/tabs.js"></script>
      -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='/static/js/libs/jquery-1.7.1.min.js'>/x3c/script>")</script>

    {% assets filters="jsmin", output="gen/packed.js", "js/plugins.js", "js/script.js", "js/tabs.js" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {#
    <!-- Google Analytics should go here; Change UA-XXXXX-X to be siteID -->
    #}

<!-- End Document
================================================== -->
</body>
</html>
