<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"><![endif]-->
<!--[if IE 7]> <html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8]> <html class="no-js ie8 lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"> <!--<![endif]-->    
<head>
	<meta charset="utf-8">
	
	<title>{{ title }}</title>
    <meta http-equiv="Content-Language" content="en-u">
	<meta name="author" content="{{ meta_author }}">
    <meta name="description" content="{{ meta_description }}">
    
    <!-- Force latest IE and Chrome rendering engine. Remove if using .htaccess -->
    <meta http-equiv="X-UA_Compatible" content="IE=edge,chrome=1">

    <!-- Mobile viewport optimized -->
    <meta name="viewport" content="width=device-width; initial-scale=1.0">

	{% assets filters="cssmin", output="gen/packed.css", "css/style.css", "css/text.css", "css/site.css" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
	{% endassets %}

    {#
    <!-- All script at the bottom except for modernizr which enables HTML5 elements & feature detecting -->
    <script src="/static/js/libs/modernizr-2.0.6.min.js"></script>
    #}

</head>

<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie7"> <![endif]-->
<!--[if IE 8]> <body class="ie8"> <![endif]-->
<!--[if IE 9> <body class="ie9"> <![endif]-->
<!--[if !IE]><!--> <body> <!--<![endif]-->

	<div id="container" class="container">
	
		<header id="header" class="header">
			<div id="logo" class="logo">
			 <h1>LOGO</h1>
			 <h2>Mark Feltner</h2>
			</div>
			
			<div id="nav" class="nav">
          <ul>
              <li><a href="/blog">blog</a></li>
              <li><a href="#">bookmarks</a></li>
              <li><a href="#">pastebin</a></li>
              <li><a href="#">readlaters</a></li>
              <li><a href="#">tood</a></li>
              <li><a href="#">about</a></li>
          </ul>
        </div>
		</header>
				
		<div id="main" class="main">
		  <div id="content" class="content">
           
            <div class="flash_messages">
				{% for message in get_flashed_messages() %}
				<div class="flash">
					{{ message }}
				</div>
				{% endfor %}
			</div>
			
			{% block content %}
			
			{% endblock %}
		  </div>
		  <div id="sidebar" class="sidebar">
          {% block sidebar %}
          
          {% endblock %}
          </div>
		</div>
		
		<footer id="footer" class="footer">
		
			{% block footer %}
			
			{% endblock %}
		
		</footer>
	
	</div>
    
    <!-- Javascript at the bottom for fast page loading -->

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='/static/js/libs/jquery-1.7.1.min.js'>/x3c/script>")</script>

    {% assets filters="jsmin", output="gen/packed.js", "js/plugins.js", "js/script.js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {#
    <!-- Google Analytics should go here; Change UA-XXXXX-X to be siteID -->
    #}
</body>
