# Eclipse
.project
.pydev
.pydevproject

# Python
*.py[co]
*__pycache__*
*.egg
pip-log.txt
.coverage
.tox

secret.py
experientiarum/static/.webassets-cache/*

# Uncomment when you get logging set up
log/*.log*

# Uncomment when you get Flask-Assets (static content extension)
# set up
experientiarum/static/gen/*

# Mac shite
*.DS_Store
