# Eclipse
.project
.pydev
.pydevproject

# Python
*.py[co]
*__pycache__*
*.egg
pip-log.txt
.coverage
.tox

settings.py
secret.py

# Uncomment when you get logging set up
log/*.log*

# Uncomment when you get Flask-Assets (static content extension)
# set up
apps/static/.webassets-cache/*
apps/static/gen/*

# Mac shite
*.DS_Store
