{% extends "blog/base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<form class='blog-form' method="POST" action>
    {{ form.hidden_tag() }}
  <dl>
    {{ render_field(form.title) }}
    {{ render_field(form.slug) }}
    {{ render_field(form.body) }}
    {{ render_field(form.language) }}
    {{ render_field(form.labels) }}
    {{ render_field(form.explanation) }}
    {{ render_field(form.source) }}
    {{ render_field(form.deleted) }}
  </dl>
  {{ form.submit(class="button") }}
</form>
{% endblock %}
