// Layouts
// - Basic and global styles

// STRUCTURAL LAYOUT
// -----------------
.container {
    padding-top: 20px;
}

footer {
    margin-top: 10px; 
    border-top: 1px solid #ccc;
    p { text-align: center; }
}

// Logo
#logo  a, h1 { text-decoration: none; }

// Navbar top
#navbar {
    padding-bottom: 5px;
    .tabs { margin: 0; }
}

// Adminbar -- only displayed if your are logged in as admin
#adminbar {
    li { 
        display: inline;
        list-style-type: none;
        padding-right: 20px;
        font-size: @baseFontSize - 2;
        a { color: @navbarLinkColor; }
        a:hover { color: @navbarLinkColorHover; } 
    }
}


// Main content
#main-content {
    padding-top: 25px;

}

// LAYOUT ELEMENTS
// ---------------

// Blog
.blog-form { 
    textarea, input {min-width: 450px;} 
    #body { min-height: 250px;}
}

.blog-entry {
    margin-bottom: 5px; 
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    .blog-entry-title { 
        margin-bottom: 3px;
        a { color: @base03; text-decoration: none; }
        a:hover { color: @base02; text-decoration: none; background: @base3  }
        a:visited { color: @base02; }
    }
}

.blog-entry .row {
    border-bottom: 1px soldid @grayLight; 
}

.blog-entry-body {
    a { color: @blue; }
    a:visited { color: @purple; }
    a:hover { background: @base2 }
}
