// Variables.less
// - customize the look and feel of the site
// -----------------------------------------

// GLOBAL VALUES
// -----------------------------------------

// Links
@linkColor:             #08c;

// Grays
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;

// Accent colors
//@blue:                  #049cdb;
@blueDark:              #0064cd;
//@green:                 #46a546;
//@red:                   #9d261d;
//@yellow:                #ffc40d;
//@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;

// Solarized
@base03:    #002b36;
@base02:    #073642;
@base01:    #586e75;
@base00:    #657b83;
@base0:     #839496;
@base1:     #93a1a1;
@base2:     #eee8d5;
@base3:     #fdf6e3;
@yellow:    #b58900;
@orange:    #cb4b16;
@red:       #dc322f;
@magenta:   #d33682;
@violet:    #6c71c4;
@blue:      #268bd2;
@cyan:      #2aa198;
@green:     #859900;

// Typography
@baseFontSize:          12px;
@baseFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
@baseLineHeight:        18px;
@textColor:             @grayDark;

// Input placeholder text color
@placeHolderText:       @grayLight;

// Hr border color
@hrBorder:              @grayLighter;

// Navbar
@navbarHeight:              40px;
@navbarBackground:          @grayLighter;
@navbarBackgroundHighlight: @grayDark;
@navbarLinkBackgroundHover: transparent;

@navbarText:            @grayLight;
@navbarLinkColor:       @grayLight;
@navbarLinkColorHover:   @white;

// Form States and Alerts
@warningText:           #c09853;
@warningBackground:     #fcf8e3;

@errorText:             #b94a48;
@errorBackground:       #f2dede;

@successText:           #468847;
@successBackground:     #dff0d8;

@infoText:              #3a87ad;
@infoBackground:        #d9edf7;
