{% extends "layout.html" %}

{% block content %}
{% from "_library.html" import render_form %}
<div class="row-fluid">
    <div class="span6">
        <div class="row-fluid">
            {{ render_form(form) }}
        </div>
    </div>
    <div class="span6 preview-pane">
        <div class="row-fluid">
            <form class="form-horizontal">
                <label>Preview</label>
                <textarea class="preview-textarea .span6" rows="30"></textarea>
            </form>
        </div>
    </div>
</div>
{% endblock %}
