{% extends "layout.html" %}
{% block extra_js %}
<script src="http://localhost:8080/socket.io/socket.io.js"></script>

<script>
var socket = io.connect('http://localhost:8080');
socket.on('tweet', function (data) {
    console.log(data);
    $('#twitter-rt .realtimer-body').append(
    "<div class='row-fluid'>" +
        "<div class='span5 realtimer-row'>" +
            "<p>"+data+"</p>" +
        "</div>" +
    "</div>"
    )
});

socket.on('recent_tracks', function (data) {

    console.log(data)
    $('#lastfm-rt .realtimer-body').append(
    "<div class='row-fluid'>" +
        "<div class='span5 realtimer-row'>" +
            "<p>"+data.artist.name+"</p>" +
        "</div>" +
    "</div>"
    )
});

socket.on('new_track', function (data) {
    console.log(data)
    $('#lastfm-rt .realtimer-body').prepend(
    "<div class='row-fluid'>" +
        "<div class='span5 realtimer-row'>" +
            "<p>"+data.artist.name+"</p>" +
        "</div>" +
    "</div>"
    )
});

socket.on('debug', function (data) {
    console.log(data)
    });

</script>
{% endblock %}

{% block content %}
<div class="">
    <h1>Encephalo</h1>
    <p>An anthropomorphization of Mark Feltner onto the internets</p>
</div>
{% endblock %}

