@import "../vendor/bootstrap/less/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "../vendor/bootstrap/less/responsive.less";

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */
footer {
    text-align: center;
}

#text-editor {
    width: 810px;
    height: 361px;

}