{% extends "base.html" %}
{% block sidebar %}
<div id="blog-sidebar" class="blog-sidebar">
<h1>BLOG</h1>
<ul class="blog-sidebar-nav">
    <li><a href="#">Archives</a></li>
    <!--  Generate archives HTML -->
    <li><a href="#">Tags</a></li>
    <li><a href="#">Stats</a></li>
</ul>
<ul class="blog-sidebar-meta">
    <li><a href="#">Admin</a></li>
    <!--  Add code here that will let me (admin)
          add a new post and do some meta things
          like login and logout -->
</ul>
</div>
{% endblock %}