{% extends "blog/base.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<form class='blog-form' method="POST" action>
    {{ form.hidden_tag() }}
  <dl>
    {{ render_field(form.title) }}
    {{ render_field(form.slug) }}
    {{ render_field(form.body) }}
    {{ render_field(form.labels) }}
    {{ render_field(form.pub_date) }}
    {{ render_field(form.publish) }}
    {{ render_field(form.delete) }}
  </dl>
  {{ form.submit(class="button") }}
</form>
{% endblock %}
