{% extends "blog/base.html" %}
{% block content %}
<div id="{{ entry._id }}" class="blog-entry">
    <h2 class="entry-title"><a href="{{ entry.url }}">{{ entry.title }}</a></h2>

    <!-- ENTRY ADMIN 
    ------------------>
    {% if not current_user.is_anonymous() %}
    <div class="entry-admin">
        <a href="{{ entry.url }}/edit">edit</a>
        <a href="{{ entry.url }}/delete">delete</a>
    </div>
    {% endif %}
    <!-- end ENTRY ADMIN -->

    <!-- ENTRY BYLINE 
    ------------------>
    <div class="entry-byline">
        <!-- By: <a href="feltner.mj@gmail.com></a.> -->
    </div>
    <!-- end ENTRY BYLINE -->

    <!-- ENTRY TAGS 
    ------------------>
    <div class="entry-tags">
    {% if entry.tags %}
        {% for tag in entry.taglist %}
            <a href="#">{{ tag }}</a>
        {% endfor %}
    {% else %}
        <p>No tags</p>
    {% endif %}
    </div>    
    <!-- end ENTRY TAGS -->

    <!-- ENTRY BODY
    ------------------> 
    <div class="entry-body">
        {{ entry.body|markup|safe }}
    </div>
    <!-- end ENTRY BODY -->

    <!-- ENTRY META
    ------------------>
    <div class="entry-meta">
        <p class="blog-entry-pubdate">Published on: </p>
        <!-- Published date and/or last edit date -->
        <!-- Add edit, delete IF permissed to do so -->
    </div>
    <!-- end ENTRY META -->

</div>
{% endblock %}
