{% extends "blog/base.html" %}
{% block content %}
<!-- BLOG ENTRIES
=================-->
{% for entry in entries %}
<!-- BLOG ENTRY -->
<div class="row">
    <div class="twelve columns alpha blog-entry">
        <!-- Title -->
        <div class="title">
            <a href="{{ entry.url }}"><h1>{{ entry.title }}</h1></a>
        </div>
        
        <!-- Entry Tags -->
        <div class="tags">
        {% if entry.tags %}
            {% for tag in entry.tags.split(',') %}
            <a href="#"><small>{{ tag }},</small></a>
            {% endfor %}
        {% endif %}
        </div>


        <!-- Entry Body -->
        <div class="entry-body">
            {{ entry.body|markup|truncate_html|safe }}
        </div>
        <!-- /ENTRY BODY -->

    </div>
    <!-- Entry meta -->
    <div class="three columns omega entry-meta">
        <ul>
            <li class="date">{{ entry.pub_date|format_date }}</li>
            {% if entry.edit_date %}
            <li><small>revised: {{ entry.edit_date|format_date }}</small></li>
            {% endif %}

            {% if not current_user.is_anonymous() %}
                <hr>
                <li><a href="{{ entry.url }}/edit">edit</a></li>
                <li><a href="{{ entry.url }}/delete">delete</a></li>
            {% endif %}
        <!-- end ENTRY ADMIN -->
        </ul>
    </div><!-- /entrymeta -->
</div>
{% endfor %}
<!-- end BLOG ENTRIES -->
{% endblock %}

