{% extends "blog/base.html" %}
{% block content %}
<!-- BLOG ENTRIES
=================-->
<div class="blog-entries">
    {% for entry in entries %}
    <!-- BLOG ENTRY -->
    <div class="blog-entry">
        <h4 class="entry-title">
            <a href="{{ entry.url }}">{{ entry.title }}</a>
        </h4>
        
        <div class= "entry-byline">
            <!-- By Me -->
        </div>

        <!-- ENTRY TAGS -->
        <div class="entry-tags">
        {% if entry.tags %}
            {% for tag in entry.tags.split(',') %}
                <a href="#">{{ tag }},</a>
            {% endfor %}
        {% endif %}
        </div>
        <!-- end NETRY TAGS -->


        <!-- ENTRY BODY -->
        <div class="entry-body">
            {{ entry.body|markup|truncate_html|safe }}
        </div>
        <!-- end ENTRY BODY -->

        <!-- ENTRY META -->
        <div class="entry-meta">
            <p>Published: {{ entry.pub_date|timesince }}</p>
            {% if entry.edit_date %}
            <p>Edited: {{ entry.edit_date|timesince }}</p>
            {% endif %}
        </div>
        <!-- end ENTRY META -->

    </div>
{% endfor %}
</div>
<!-- end BLOG ENTRIES -->
{% endblock %}

