{% extends "blog/base.html" %}
{% block content %}
<!-- BLOG ENTRIES
=================-->
{% for entry in entries %}
<!-- BLOG ENTRY -->
<div class="blog-entry row">
    <div class="thirteen columns alpha blog-entry-title">
        <h1><strong><a href="{{ entry.url }}">{{ entry.title }}</a></strong></h1>
    </div>

    <div class="two columns omega blog-entry-meta">
        <ul>
            <li class="date">{{ entry.pub_date|format_date }}</li>
            {% if not current_user.is_anonymous() %}
                <hr>
                <li><a href="{{ entry.url }}/edit">edit</a></li>
                <li><a href="{{ entry.url }}/delete">delete</a></li>
            {% endif %}
        <!-- end ENTRY ADMIN -->
        </ul>
        
    </div>

    <div class="sixteen columns blog-entry">


        <!-- Entry Body -->
        <div class="blog-entry-body">
            {{ entry.body|markup|truncate_html|safe }}
        </div>
        <!-- /ENTRY BODY -->

    </div>

    <div class="sixteen columns tags">
        {% if entry.tags %}
            <br><p>This entry was tagged in: 
            {% for tag in entry.tags.split(',') %}
            <small><a href="#">{{ tag }},</a></small>
            {% endfor %}
            </p>
        {% endif %}
    </div>
</div>
{% endfor %}
<!-- end BLOG ENTRIES -->
{% endblock %}

