{% extends "blog/base.html" %}
{% block content %}
<div class="blog">
{% for entry in entries %}
	<div class="entry row">
        <div class="twelve columns alpha entry-title">
            <h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
		</div>

		<div class="three columns omega entry-meta">
			<ul>
                <li class="date"><small>written:</small> {{ entry.pub_date|format_date }}</li>
                {% if entry.edit_date %}
                <li class="revised muted"><small>revised:</small> {{ entry.edit_date|format_date }}</li>
                {% endif %}
                
                {% if current_user.is_authenticated() %}
                <li><a href="{{ entry.url }}/edit"><small>e</small></a>
                <a href="{{ entry.url }}/delete"><small>d</small></a></li>
                {% endif %}
			</ul>
		</div>

		<div class="sixteen columns entry-body">
			{% if loop.length > 1 %}
				{{ entry.body|markup|truncate_html(75)|safe }}
			{% else %}
				{{ entry.body|markup|safe }}
			{% endif %}
		</div>

		<div class="sixteen columns entry-labels">
		{% if entry.labels %}
	        <br><p><small>This entry was labeled: 
	        {% for label in entry.labellist %}
	        	{% if loop.length == 1 %}
	        		<a href="#">{{ label }}</a>.
		        {% else %}
		            {% if loop.last %}
		            	and <a href="#">{{ label }}</a>.
		            {% else %}
		            	<a href="#">{{ label }}</a>,
		            {% endif %}
		        {% endif %}
	        {% endfor %}
	        </small></p>
	    {% endif %}
		</div>

	</div>
{% endfor %}
</div>
{% endblock %}
