{% extends "blog/base.html" %}
{% block content %}
<div class="blog">
{% for entry in entries %}
	<div class="entry row">
		<div class="twelve columns alpha entry-title">
			<h1><strong><a href="{{ entry.url }}">{{ entry.title }}</a></strong></h1>
		</div>

		<div class="three columns omega entry-meta">
			<ul>
				<li class="date">{{ entry.pub_date|format_date }}</li>
				{% if current_user.is_authenticated() %}
					<hr>
					<li><a href="{{ entry.url }}/edit">edit</a></li>
					<li><a href="{{ entry.url }}/delete">delete</a></li>
				{% endif %}
			</ul>
		</div>

		<div class="sixteen columns entry-body">
			{% if loop.length > 1 %}
				{{ entry.body|markup|truncate_html(75)|safe }}
			{% else %}
				{{ entry.body|markup|safe }}
			{% endif %}
		</div>

		<div class="sixteen columns entry-labels">
		{% if entry.labels %}
	        <br><p><small>This entry was labeled: 
	        {% for label in entry.labellist %}
	        	{% if loop.length == 1 %}
	        		<a href="#">{{ label }}</a>.
		        {% else %}
		            {% if loop.last %}
		            	and <a href="#">{{ label }}</a>.
		            {% else %}
		            	<a href="#">{{ label }}</a>,
		            {% endif %}
		        {% endif %}
	        {% endfor %}
	        </small></p>
	    {% endif %}
		</div>

	</div>
{% endfor %}
</div>
{% endblock %}
