{% extends "layout.html" %}
{% from '_library.html' import render_tags %}
{% block content %}
<div class="row-fluid">
    <div class="span10 entry">
        <div class="row-fluid entry-title">
            <h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
        </div>

        <div class="row-fluid entry-body">
                {{ entry.body|safe }}
        </div>

        <div class="row-fluid entry-days">
                <hr>
                <p><small>{{ entry.pub_date|format_date }}</small></p>
                {{ render_tags(entry.tags) }}
        </div>
    </div>

</div>
{% endblock %}
