{% extends "layout.html" %}
{% block content %}
<section id="entry-many">
{% for entry in entries %}
    {% if loop.index == 1 %}
    <div class='row'>
    {% endif %}

    <article id="{{ entry.slug }}_entry-many" class="eight columns {{ loop.cycle('alpha', 'omega', 'alpha') }}">
        <div class="entry-title">
            <h4><a href="{{ entry.url }}">{{ entry.title }}</a></h4>
        </div>
        <div class="entry-abstract">
            <p>{{ entry.abstract}}</p>
        </div>
    </article>

    {% if loop.index % 2 == 0 %}
    </div>
    <div class='row'>
    {% endif %}

{% endfor %}
</section>
{% endblock %}

