{% extends "layout.html" %}
{% block content %}
{% for entry in entries %}
	<div class="row-fluid">
        <div class="span8 entry-title">
        <h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
		</div>

		<div class="span2 entry-dates">
        {{ entry.pub_date|format_date }}
        {% if entry.edit_date %}
        {{ entry.edit_date|format_date }}
        {% endif %}
        
        {% if current_user.is_authenticated() %}
        {% endif %}
            <div class="well entry-tags">
                {% if entry.tags[0] %}
                <p><small>tags: 
        	    {% for tag in entry.tags -%}
                    {% if loop.length == 1 %}
                        <a href="/blog/t/{{ tag }}">{{ tag }}</a>.
                    {% elif loop.length == 2 %}
                        {% if loop.last %}
                        and <a href="/blog/t/{{ tag }}">{{ tag }}</a>.
                        {% else %}
                        <a href="/blog/t/{{ tag }}">{{ tag }}</a>
                        {% endif %}
        		    {% else %}
        		          {% if loop.last %}
        		              and <a href="/blog/t/{{ tag }}">{{ tag }}</a>.
        		          {% else %}
        		              <a href="/blog/t/{{ tag }}">{{ tag }}</a>,
        		          {% endif %}
        		    {% endif %}
        	    {% endfor %}
        	    </small></p>
        	    {% endif %}
            </div>
		</div>
    </div>
{% endfor %}
{% endblock %}
