{% extends "layout.html" %}

{% block content %}
<form action-'{{ url_for("blog.new_entry") }}' method='POST' class=''>
    <label for='POST-entry-title'>Title: </label>
    <input id='POST-entry-title' type='text' name='entry-title'>

    <label for='POST-entry-abstract'>Abstract: </label>
    <textarea id='POST-entry-abstract' name='entry-abstract'></textarea>

    <label for='POST-entry-tags'>Tags: </label>
    <input id='POST-entry-tags' type='text' name='entry-tags'>

    <label for='POST-entry-publish'>Publish: </label>
    <input id='POST-entry-publish' type='checkbox' name='entry-publish'>

    <div id="wysihtml5-toolbar" style="display: none;"> 
        <a class='button' data-wysihtml5-command="bold" title="CTRL+B">bold</a> |
        <a class='button' data-wysihtml5-command="italic" title="CTRL+I">italic</a> |
        <a class='button' data-wysihtml5-command="createLink">link</a> |
        <a class='button' data-wysihtml5-command="insertImage">image</a> |
        <a class='button' data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1">h1</a> |
        <a class='button' data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2">h2</a> |
        <a class='button' data-wysihtml5-command="insertUnorderedList">ul</a> |
        <a class='button' data-wysihtml5-command="insertOrderedList">ol</a> |
        <a class='button' data-wysihtml5-command="foreColor" data-wysihtml5-command-value="red">red</a> |
        <a class='button' data-wysihtml5-command="foreColor" data-wysihtml5-command-value="green">green</a> |
        <a class='button' data-wysihtml5-command="foreColor" data-wysihtml5-command-value="blue">blue</a> |
        <a class='button' data-wysihtml5-command="undo">undo</a> |
        <a class='button' data-wysihtml5-command="redo">redo</a> |
        <a class='button' data-wysihtml5-command="insertSpeech">speech</a>
        <a class='button' data-wysihtml5-action="change_view">switch to html view</a>
        
        <div data-wysihtml5-dialog="createLink" style="display: none;">
          <label>
            Link:
            <input data-wysihtml5-dialog-field="href" value="http://">
          </label>
          <a class='button' data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a class='button' data-wysihtml5-dialog-action="cancel">Cancel</a>
        </div>
        
        <div data-wysihtml5-dialog="insertImage" style="display: none;">
          <label>
            Image:
            <input data-wysihtml5-dialog-field="src" value="http://">
          </label>
          <label>
            Align:
            <select data-wysihtml5-dialog-field="className">
              <option value="">default</option>
              <option value="wysiwyg-float-left">left</option>
              <option value="wysiwyg-float-right">right</option>
            </select>
          </label>
          <a class='button' data-wysihtml5-dialog-action="save">OK</a>&nbsp;<a class='button' data-wysihtml5-dialog-action="cancel">Cancel</a>
        </div>
        
      </div>
      <textarea style="width: 850px;" name='entry-body' id="wysihtml5-textarea" placeholder="Enter text ..." autofocus></textarea>
      <br><input type="reset" value="Reset form!">
      <br><input type="submit" value="Submit"> 

    </div>
</form>
{% endblock %}

{% block extra_js %}
<script type='text/javascript' src='/static/js/wysihtml5/parser_rules_advanced.js'></script>
<script type='text/javascript' src='/static/js/wysihtml5/wysihtml5.min.js'></script>
<script type='text/javascript'>
    var editor = new wysihtml5.Editor('wysihtml5-textarea', {
        toolbar: 'wysihtml5-toolbar',
        stylesheets: ['/static/css/editor.css'], 
        parserRules: wysihtml5ParserRules
        });

    var log = document.getElementById('log');

</script>
{% endblock %}

{% block extra_css %}
{% endblock %}
